graph {
    fill-color: #0D0D0F;
    padding: 60px;
}

node {
    size: 32px;
    fill-color: #B40000;
    stroke-mode: plain;
    stroke-color: #F0F0E6;
    stroke-width: 2px;
    text-size: 16px;
    text-color: #F0F0E6;
    text-alignment: at-right;
    text-offset: 8px, 0px;
}

node.highlight {
    fill-color: #0078FF;
    size: 45px;
    stroke-width: 4px;
    stroke-color: #FFFFFF;
}

node.secondary {
    fill-color: #DCB400;
    size: 38px;
    stroke-width: 3px;
}

edge {
    fill-color: #3C3C46;
    size: 6px;
    arrow-size: 15px, 10px;
}